html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* body {
  background: #606EE8;
  background-image:
    url("../grid.png"),
    linear-gradient(0deg, #606EE8 0%, rgba(61, 56, 69, 1) 100%);
  font-family: 'Nunito', sans-serif;
  font-family: 'Supermercado One', cursive;
  font-size: 2vmin;
  width: 100vw;
  height: 100vh;
} */

/* h1 {
  font-family: 'Supermercado One', cursive;
  color: #FF8276;
  
  font-size: 9vmin;
  margin: 10px;
  padding: 0 0 10px 0;
  font-weight: 800;
  text-shadow: -1px 0 #683CF1, 0 1px #683CF1, 1px 0 #683CF1, 0 -1px #683CF1, 5px 3px 4px #FC04CC;
  transform: skewY(-11deg);
  filter: drop-shadow(2px 2px 0.2rem #33364E)
} */

.title {
  height: 25vh;
  /* background-image: repeating-linear-gradient(0deg, rgba(158, 169, 240, 0) 0px, rgba(157, 168, 240, 0.1) 20px, rgba(158, 169, 240, 1) 32px, rgba(158, 169, 240, 0.1) 38px); */
}


/* .containcard{
  height: 40vh;
}

.flip {
  height:30vh;
  width: 60vw;
  max-width: calc(2 * 30vh);
  margin: 0 auto;
}

.flip .front {
  background: #8993ee;
  background: radial-gradient(circle, rgba(137, 147, 238, 1) 56%, rgba(153, 83, 188, 1) 100%);
  color: #000;
  font-size: 2vmin;
  font-weight: 600;
  text-align: center;
  border: 2px solid #3d3845;
  border-radius: 20px;
  filter: drop-shadow(2px 2px 0.2rem #33364E);
  padding: 4%;
  overflow: auto;
}

.flip .back {
  background: rgb(255, 232, 212);
  background: radial-gradient(circle, rgba(255, 232, 212, 1) 70%, rgba(255, 171, 188, 1) 100%);
  color: #000;
  font-size: 2vmin;
  text-align: center;
  border: 2px solid #3d3845;
  border-radius: 20px;
  filter: drop-shadow(2px 2px 0.2rem #33364E);
  padding: 4%;
  overflow: auto;
} */


/* 
.instruction {
  background-image: repeating-linear-gradient(0deg, rgba(158, 169, 240, 0) 0px, rgba(111, 121, 200, 0.8) 9px, rgba(158, 169, 240, 1) 16px, rgba(111, 121, 200, 0.8) 23px, rgba(158, 169, 240, 0) 32px);
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100vw;
  height: 20vh;
  position: relative;
  font-weight: 900;
}

.instruction .btn{
  font-style: oblique;
} */

/* dialog {
  background: rgb(255, 232, 212);
  background: radial-gradient(circle, rgba(255, 232, 212, 1) 70%, rgba(255, 171, 188, 1) 100%);
  border: 2px solid #3d3845;
  border-radius: 20px;
  filter: drop-shadow(2px 2px 0.2rem #33364E);
  padding: 1.6rem;
  max-width: 400px;
}

dialog button {
  display: block;
  margin-top: 2rem;
  width: 50%;
  height: 44px;
  font-family: inherit;
  background-color: #8993ee;
  font-weight: 700;
  border: 1px solid #3d3845;
  border-radius: 10px;
  filter: drop-shadow(2px 2px 0.2rem #33364E);
}

dialog button:hover {
  background-color: rgb(153, 83, 188);
  color:  rgb(255, 232, 212);
  cursor: pointer;
} 

.bigbutt{
  font-size: 1rem;
  padding: 5px 10px 5px 10px;
  margin: 40px;
  position: relative;
}*/

.totheleft{
  text-align: left;
}



@media (max-width: 700px) {
     body {
    font-size: 3vmin;
    }

  .flip {
    height: 30vh;
    width: 80vw;
    max-width: calc(2 * 30vh);
    margin: 0 auto;
  }

  .flip .front {
    font-size: 4vmin;
    font-weight: 600;
  }

  .flip .back {
    font-size: 4vmin;
  }

  .tickform {
    font-size: 3vmin;
  }

  dialog {
    width: 70vw;
    }

  .smallbutt{
    font-size: 2vmin;
  }

  .bigbutt{
    font-size: 2vmin;
    } 
}
