* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  /* --smallgap: 1vw;
  --normalgap: 2vw;
  --biggap: 5vw;
  --doublegap: 7vw;
  --vminwhenbig: 10.5px; */

  --background: url("../img/galaxy-neon.png");

  --transparent: rgba(1, 1, 1, 0);
  --white: #ffffff;

  --peach: #FBB279;
  --pink: #DC23C8;
  --violet: #7F3BC3;

  --dark: #1F284F;
  --halfdark: rgba(31, 40, 79, 0.8);
  --medium: #404C82;
  --halfmedium: rgba(64, 76, 130, 0.8);
}

body {
	height: 100vh;
  width: 100vw;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

  background-image: var(--background);
  background-color: var(--dark);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: 'Nunito', sans-serif;
  font-size: 2vmin;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-family: 'Supermercado One', cursive;
  color: var(--peach);
  font-size: 9vmin;
  margin: 10px;
  padding: 0 0 10px 0;
  font-weight: 800;
  text-shadow: -1px 0 var(--violet), 0 1px var(--violet), 1px 0 var(--violet), 0 -1px var(--violet), 5px 3px 4px var(--pink);
  transform: skewY(-11deg);
  filter: drop-shadow(2px 2px 0.2rem var(--medium))
}

/* .entry-card{
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

  background-color: var(--halfdark);
  border-radius: 25px;
  padding: 100px;
} */

.primary{
  margin: 7rem;
}

/* BUTTON PARTS */

.pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
}
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 22px;
  background: var(--halfmedium);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}
.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 22px;
  background: linear-gradient(
    to left,
    var(--violet) 0%,
    var(--pink) 8%,
    var(--pink) 92%,
    var(--violet) 100%
  );
}
.front {
  display: block;
  position: relative;
  padding: 12px 42px;
  border-radius: 22px;
  border: solid 2px var(--medium);

  font-size: 2rem;
  font-family: 'Supermercado One', cursive;
  color: var(--dark);
  background: var(--peach);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}
.pushable:hover {
  filter: brightness(110%);
}
.pushable:hover .front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}
.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}
.pushable:hover .shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}
.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}
.pushable:focus:not(:focus-visible) {
  outline: none;
}